@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  // colors

  --white: #ffffff;
  --black: #000000;
  --red: #f55458;
  --main-color: #0f7269;
  --main-light: #f5f8f8;
  --grey-dark: #444444;
  --grey-light: #dedede;
  --grey-lighter: #f5f5f5;
  --grey: #797979;


  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--black);
}

aside,
nav,
footer,
header,
section {
  display: block
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

select {
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus,
  &:focus-within,
  &:focus-visible {
    border: none;
    outline: none;
  }
}

select::-ms-expand {
  display: none;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;

  &:focus,
  &:focus-within,
  &:focus-visible {
    border: none;
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding-top: 150px;
}

main {
  flex: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.v-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

// -----header start

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 0 0 275px;
  overflow: hidden;
}

.logo__image {
  width: 180px;
  height: auto;
}

.burger {
  display: none;
}

.menu {
  flex: auto;
  display: flex;
  gap: 0 50px;
}

.menu-item__link {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  transition: .25s;

  &:hover {
    color: var(--grey-dark);
  }
}

.user-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.notes {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(./assets/images/bell.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  transition: .25s;

  &:hover {
    transform: scale(1.1);
  }
}

.notes--active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red);
  }
}

.user-menu {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 0 16px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: .25s;

  &:hover {
    background-color: var(--main-light);
  }
}

.menu-arrow {
  width: 14px;
  height: 9px;
  background-image: url(./assets/images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-menu__image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu__image {
  display: block;
  height: 100%;
  width: auto;
}

.user-menu__name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px 0;
}

.user__name {
  font-size: 16px;
  font-weight: 600;
}

.user__type {
  font-size: 12px;
}

// -----header end

.content-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

// -----sidepar start

.sidebar {
  flex: 0 0 275px;
  width: 275px;
  height: 100%;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px 0;
  padding-bottom: 50px;
}

.sidebar-opener {
  display: none;
}

.button {
  display: inline-flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .25s;

  &:hover {
    opacity: .8;
  }
}

.sidebar-menu {
  flex: auto;
  overflow: auto;
}

.sidebar-menu__item {
  padding: 8px 0;
}

.sidebar-menu__item-link {
  width: 150px;
  height: 33px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 0 16px;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 500;
  transition: .2s;

  &:hover {
    background-color: var(--main-light);
    color: var(--main-color);
  }
}

.sidebar-menu__item-icon {
  width: 24px;
  height: auto;
}

.sibebar__bottom {
  font-size: 14px;
  font-weight: 500;
}

.copyright {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey);
}

.social {
  display: flex;
  gap: 0 8px;
}

.social--top-space {
  margin-top: 16px;
}

.social__item-link {
  display: flex;
  width: 33px;
  height: 33px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--grey-lighter);
  overflow: hidden;
  transition: .25s;

  &:hover {
    background-color: var(--main-light);
  }
}

.social__item-image {
  width: 45%;
  height: auto;
}

// -----sidepar end

.content {
  flex: auto;
  overflow-x: hidden;
  margin-bottom: 60px;
}

// ------Filters

@mixin sectionBox {
  padding: 20px;
  border-radius: 14px;
  background-color: var(--main-light);

  @media screen and (max-width: 1439px) {
    padding: 10px;
  }
}

.filter-wrap {
  @include sectionBox();
}

.filter {
  display: flex;
  gap: 16px;
  overflow: auto;
  padding: 10px;
}

.filter__item {
  flex: 1;
  height: 120px;
  min-width: 200px;
  max-width: 50%;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  border: solid 3px var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 10px var(--grey-light);
  cursor: pointer;
  transition: .25s;

  &:hover {
    box-shadow: 0 0 10px var(--main-color);
  }

  &:active {
    box-shadow: 0 0 10px var(--grey-light);
  }
}

.filter--active {
  border-color: var(--main-color);
}

.filter__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 8px;
}

.filter__name {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter__image {
  flex: 0 0 40px;
  width: 40px;
}

.filter__amount {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}

// ------ Vacancies

.vacancies-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  gap: 0 40px;
  flex-wrap: wrap;
}

.section-header {
  font-size: 24px;
  white-space: nowrap;
}

.filter-box {
  display: flex;
  align-items: center;
  gap: 0 40px;
  flex: auto;
  justify-content: flex-end;
}

.search {
  height: 40px;
  width: 100%;
  min-width: 260px;
  max-width: 260px;
  border-radius: 20px;
  padding: 0 40px 0 20px;
  box-shadow: 0 0 10px var(--grey-light);
  position: relative;
  transition: .25s;

  &:focus-within {
    max-width: 100%;
  }
}

.search__input {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.searck__loop {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--main-color);
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url(./assets/images/search.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: .25s;

  &:hover {
    width: 50px;
    opacity: .8;
  }
}

.list-filter {
  display: flex;
  gap: 0 8px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.select-box {
  width: 140px;
  height: 40px;
  border: solid 2px var(--grey-light);
  border-radius: 8px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 13px;
    width: 20px;
    height: 10px;
    background-image: url(./assets/images/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }
}

.select-box__select {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 18px;
  cursor: pointer;
}

// ----- vacancies

.vacancies-block {
  @include sectionBox();
}

.vacancies-list {
  padding: 10px;
}

.vacancy-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
  gap: 16px;
}

.mobile__category {
  display: none;
}

.vacancy--item {
  background-color: var(--white);
  border-radius: 10px;
  padding: 16px 24px;
  margin: 16px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  box-shadow: 0 0 10px var(--grey-light);
  transition: .25s;
  position: relative;

  &:hover {
    box-shadow: 0 0 10px var(--main-color);
  }
}

.vacancy__link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vacancy__company-name {
  flex: 0 0 180px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.company__logo {
  display: block;
  width: 25px;
  height: auto;
}

.vacancy__type {
  flex: 0 0 170px;
}

.vacancy__category {
  flex: auto;
  min-width: 135px;
}

.vacancy__time {
  flex: 0 0 110px;
}

.vacancy__controls {
  flex: 0 0 120px;
  display: flex;
  justify-content: center;
  gap: 16px;
  z-index: 1;
}

@mixin roundButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-light);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  cursor: pointer;
  transition: .25s;
}

.vacancy__accept {
  @include roundButton();
  background-image: url(./assets/images/check.svg);

  &:hover {
    background-color: var(--main-color);
    background-image: url(./assets/images/check-wite.svg);
  }
}

.vacancy__ignore {
  @include roundButton();
  background-image: url(./assets/images/cancel.svg);

  &:hover {
    background-color: var(--red);
    background-image: url(./assets/images/cancel-white.svg);
  }
}

// ----- paginator

.paginator {
  display: flex;
  gap: 0 8px;
  padding: 40px 20px;
}

.paginator__link {
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  border: solid 2px var(--grey-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
  transition: .25s;
  cursor: pointer;

  &:hover {
    border-color: var(--main-color);
    background-color: var(--main-light);
  }
}

.button--weight {
  font-weight: 600;
}

.page--active {
  border-color: var(--main-color);
  background-color: var(--main-color);
  color: var(--white);

  &:hover {
    background-color: var(--main-color);
  }
}

.arrow__right {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 4px;
}

@media screen and (min-width: 1024px) {
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 20px;
  }

  *::-webkit-scrollbar-track {
    background: var(--grey-light);
    border-radius: 20px;
  }
}

@media screen and (max-width: 1439px) {
  body {
    padding-top: 70px;
  }

  // ----header

  .nav {
    height: 70px;
  }

  .user-menu__name-container,
  .menu-arrow {
    display: none;
  }

  // ----sidebar

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 0 10px var(--grey);
    padding: 48px 24px 24px 24px;
    border-radius: 10px;
    transition: .25s;
    z-index: 2;

    &.hider {
      left: -270px;
      transition: .25s;
    }
  }

  .sidebar-opener {
    width: 40px;
    height: 50px;
    background-color: var(--white);
    box-shadow: 5px 0 5px var(--grey-light);
    position: absolute;
    left: 99%;
    top: 48px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background-color: var(--main-color);
      border-radius: 2px;
      transition: .25s;
    }

    &:hover {

      &::before,
      &::after {
        height: 80%;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .dn--display {
    display: none;
  }

  .mobile__category {
    display: block;
    font-size: 14px;
    color: var(--grey);
    margin-bottom: 8px;
  }

  .vacancies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
  }

  .vacancy-line {
    flex: 0 0 48%;
    flex-direction: column;
    margin: 0;
  }

  .vacancy__company-name {
    flex: auto;
    justify-content: center;
    font-size: 22px;
  }

  .company__logo {
    width: 50px;
  }

  .vacancy__type,
  .vacancy__category,
  .vacancy__time {
    flex: auto;
    align-self: flex-start;
  }

  .vacancy__controls {
    flex: auto;
    flex-direction: row;
  }
}

@media screen and (max-width: 919px) {
  .menu {
    gap: 0 24px
  }
}

@media screen and (max-width: 767px) {

  .logo {
    flex: 0 0 150px;
  }

  .logo__image {
    width: 150px;
  }

  .menu {
    position: absolute;
    right: 0%;
    top: 0px;
    background-color: var(--white);
    flex-direction: column;
    width: 260px;
    min-height: 320px;
    padding: 150px 24px 24px 24px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px var(--grey);
    gap: 16px;
    z-index: 2;
    transition: .5s;

    &.hideon--mob {
      right: -110%;
      transition: .5s;
    }
  }

  .menu-item__link {
    font-size: 18px;
    color: var(--black);
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    padding: 8px 4px;
    transition: .25s;
    cursor: pointer;
    order: 2;
    z-index: 2;

    &::before,
    &::after {
      content: '';
      width: 100%;
      display: block;
      height: 4px;
      background-color: var(--black);
      border-radius: 2px;
      transition: .25s;
    }

    &:hover {
      padding: 8px;

      &::before,
      &::after,
      .burger__line {
        background-color: var(--main-color);
      }
    }
  }

  .burger__line {
    width: 100%;
    display: block;
    height: 4px;
    background-color: var(--black);
    border-radius: 2px;
    transition: .25s;
  }

  // ------ Vacancies

  .vacancies-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .filter-box {
    flex-direction: column;
    gap: 20px 0;
    width: 100%;
    align-items: center;
  }

  .search {
    width: 98%;
    max-width: unset;
  }

  .list-filter {
    align-self: flex-end;
  }
}

@media screen and (max-width: 539px) {
  .filter__item {
    max-width: 100%;
  }

  //----vacancies

  .vacancy-line {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 374px) {
  .logo {
    flex: 0 0 100px;
  }

  .logo__image {
    width: 100px;
  }
}